@{
    ViewData["Title"] = "Prognose details";
}

@model BumboApp.Models.WeekPrognosis

<div class="row justify-content-between">
    <div class="col-md-3">Prognose week @Model.StartDate</div>
    <div class="col-md-3">navigatie</div>
</div>
<div class="row my-3 border">
    <div class="col">
        <p>Afdeling</p>
        <p>Vers</p>
        <p>Vakkenvullen</p>
        <p>Kassa</p>
    </div>

    @foreach (DayOfWeek day in DayOfWeek.GetValues(typeof(DayOfWeek)))
    {
    <div class="col">
        <p>@day</p>
            @foreach (Department department in Department.GetValues(typeof(Department)))
            {
                <p>@Model.Prognoses.Single(p => p.Department == department && p.Date.DayOfWeek == day).NeededHours | @Model.Prognoses.Single(p => p.Department == department && p.Date.DayOfWeek == day).NeededEmployees</p>
            }
        </div>
    }
    <!--@foreach weekday @foreach department -->



</div>
<div class="col-md-6 border">
    <div>Speciale dagen<br>Prognose vermenigvuldigd met de factor TODO</div>
</div>
