@{
    ViewData["Title"] = "Normeringen";
}
<h5>Normeringen</h5>

<div class="container">
    <div>
        <table class="table norms-table">
            <thead>
                <tr>
                    <th scope="col">Activiteiten</th>
                    <th scope="col">Norm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Coli uitladen</th>
                    <td>5 minuten</td>
                </tr>
                <tr>
                    <th scope="row">Vakken vullen</th>
                    <td>30 minuten per coli</td>
                </tr>
                <tr>
                    <th scope="row">Kassa</th>
                    <td>30 klanten per uur</td>
                </tr>
                <tr>
                    <th scope="row">Vers</th>
                    <td>100 klanten per uur</td>
                </tr>
                <tr>
                    <th scope="row">Spiegelen</th>
                    <td>30 seconde per meter</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Coli uitladen</th>
                    <th scope="col">Vakken vullen</th>
                    <th scope="col">Kassa</th>
                    <th scope="col">Vers</th>
                    <th scope="col">Spiegelen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
                <tr>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
                <tr>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
                <tr>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
                <tr>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
                <tr>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>