@{
    Layout = "_LayoutWithoutNav";
    ViewData["Title"] = "Inloggen";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 d-md-flex d-none banner-col">
            <img src="~/img/bumbo-banner.png" class="img-fluid" alt="Bumbo Banner">
        </div>
        <div class="col-md-5 bg-white banner-col">
            <form>
                <h1>Log in bij Bumbo</h1>
                <label for="gebruikersnaam">Gebruikersnaam</label>
                <input type="text" id="gebruikersnaam" class="form-control mb-2" placeholder="Gebruikersnaam"
                required autofocus>
                <label for="wachtwoord">Wachtwoord</label>
                <input type="password" id="wachtwoord" placeholder="Wachtwoord" class="form-control mb-3">
                <button class="btn btn-lg btn-dark w-100">Sign in</button>
            </form>
        </div>
    </div>
</div>