@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-items-center d-flex justify-content-center min-vh-100" style="height: 100vh; background-color: #eeb617">
    <div>
        <img class="mx-auto my-5" style="max-width: 100%" src="/img/bumbo-banner.png" alt="Banner" />
        <h1 class="display-4 fw-bold">Binnenkort beschikbaar!</h1>
    </div>
</div>
