@{
    ViewData["Title"] = "Dienst aanmaken";
}

<div class="table-container p-3">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-2">
                    <label for="date" class="form-label fw-bold">Datum</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
                <div class="row">
                    <div class="form-group mb-2 col">
                        <label for="start" class="form-label fw-bold">Starttijd</label>
                        <input type="time" class="form-control" id="start" name="start" required>
                    </div>
                    <div class="form-group mb-2 col">
                        <label for="end" class="form-label fw-bold">Eindtijd</label>
                        <input type="time" class="form-control" id="end" name="end" required>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="department" class="form-label fw-bold">Afdeling</label>
                    <select class="form-select" id="department" name="department" required>
                        <option value="" selected>Selecteer een afdeling</option>
                        @* TODO: get departments *@
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="employee" class="form-label fw-bold">Medewerker</label>
                    <div class="d-flex gap-2">
                        <select class="form-select" id="employee" name="employee" required>
                            <option value="" selected>Selecteer een medewerker</option>
                            @* TODO: get employees *@
                        </select>
                        <button class="btn btn-primary" type="button"><i class="fas fa-plus"></i></button>
                    </div>
                    <p class="small text-secondary">
                        <i class="fas fa-info-circle"></i>
                        Selecteer een medewerker en klik op de plus om deze toe te voegen. Je kunt meerdere medewerkers toevoegen.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="vr h-100 float-start"></div>
                <div class="ms-3">
                    <p class="form-label fw-bold">Geselecteerde medewerkers</p>
                    @* TODO: get selected employees *@
                    @if (false)
                    {
                        <p class="fst-italic text-secondary">Er zijn nog geen medewerkers geselecteerd.</p>
                    }
                    else
                    {
                        <ul class="list-group list-group-flush">
                            @* TODO: *@
                            <li class="list-group-item d-flex align-items-center gap-2">
                                <span>Naam</span>
                                <button class="btn text-danger" type="button"><i class="fas fa-trash"></i></button>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="text-end">
            <button class="btn btn-primary px-3" type="submit">Dienst aanmaken</button>
        </div>
    </form>
</div>