@using System.Globalization
@{
    ViewData["Title"] = "Maand uren exporteren";
}

<div class="d-flex gap-2">
    <form asp-action="Download" class="col-xl-6 table-container" method="post">
        <p>Download de gewerkte uren met bijbehorende persoonsgegevens voor de verloning.</p>
        <div class="d-flex gap-2">
            <div class="d-flex flex-column">
                <label for="month" class="form-label">Maand</label>
                <select class="form-select" name="month" required>
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                    }
                </select>
            </div>
            <div class="d-flex flex-column">
                <label for="year" class="form-label">Jaar</label>
                <input class="form-control" type="number" name="year" value="@DateTime.Now.Year" min="1900" required />
            </div>
        </div>
        <button class="btn btn-primary" type="submit">download</button>
    </form>
    <div class="col-xl-6 table-container">
        <h3>Maandoverzicht bekijken</h3>
        <p>Benieuwd in hoeverre er is afgeweken van het originele rooster en op welke uren toeslagen van toepassing waren?</p>
        <button class="btn btn-outline-primary">bekijk maandoverzicht</button>
    </div>
</div>