/**
  OVERRIDE OF BOOTSTRAP COLORS
 */
:root,
[data-bs-theme=light] {
    --bs-body-bg: #FBFBFB;
    --bs-primary: #5D7285;
    --bs-primary-dark: #2f3b43;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-body-color: #212529;
    --bs-body-sec-color: #3c4b57;
    --accent-color: #EEB617;
    --accent-color-sec: #FFFAED;
    --border-clr: #ddd;

    --department-vers-color: #DAF2FC;
    --department-vers-border: #8ec0d5;
    --department-vakkenvullen-color: #FEEAD9;
    --department-vakkenvullen-border: #dca97d;
    --department-kassa-color: #E6F3E0;
    --department-kassa-border: #97bf93;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

/* buttons */
.btn {
    text-transform: capitalize;
}

.btn-primary {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--bs-primary-dark);
    border-color: var(--bs-primary-dark);
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: #fff;
    background-color: #6e717c;
    border-color: #6e717c;
}

.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

/* Button size */
.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

/* Site */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

@media screen and (min-width: 768px) {
    /* Dashboard */
    .dashboard .col.btn {
        min-width: 25%;
    }
}

/*Login*/
.banner-col {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
}

/* utils */
.row:not(.flat-layout .row, .container-fluid .row) {
    margin-inline: 0;
}

.table-container {
    background-color: var(--bs-white);
    border: 1px solid var(--border-clr);
    border-radius: 8px;
    margin: 15px 0;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom: 1px solid var(--border-clr);
}

.table th, .table td {
    padding: .7em;
}

.table tr:hover {
    background-color: var(--bs-body-bg);
}

.unset-all {
    all: unset;
}

label {
    font-weight: bold;
    margin-bottom: .3em;
}

.fw-500 {
    font-weight: 500;
}

.popover {
    z-index: 9999999;
}
.popover-p-small .popover-body,
.popover-profile .popover-body {
    padding: .4rem .5rem;
}

.popover-shift {
    min-width: 10em;
}
.popover-shift.vers .popover-header {
    background-color: var(--department-vers-color);
}
.popover-shift.vakkenvullen .popover-header {
    background-color: var(--department-vakkenvullen-color);
}
.popover-shift.kassa .popover-header {
    background-color: var(--department-kassa-color);
}

/* pagination */
.page-link {
    color: var(--bs-primary) !important;
}

.page-item.active .page-link {
    color: var(--bs-white) !important;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

/* Norms */
.latest-norms-table th, .latest-norms-table td {
    border: none !important;
}

.latest-norms-table .edit-button {
    text-align: right;
    margin: 15px;
}

.all-norms-table {
    margin-top: 15px;
}

.all-norms-table .table {
    border-spacing: 0 8px;
}

.all-norms-table .table th, .all-norms-table .table td {
    border-bottom: 1px solid var(--border-clr);
    padding: 12px;
    text-align: left;
}

/*Create prognosis*/
.create-prognosis-card {
    width: 30rem;
}

/* Opening hours view*/
.opening-hours-buttons-class button {
    display: none;
}

/* Schedule */
.calendar-container {
    --cdr-header-height: calc(35px + 1em);
    --cdr-time-slot-height: 50px;
    --cdr-time-col-width: 55px;
    
    position: relative;
    border-radius: inherit;
    overflow: hidden;
}

.calendar-grid .time-slots-col {
    width: var(--cdr-time-col-width);
}
.calendar-grid .time-slots-col .time-slot {
    position: relative;
    padding: .2em .5em;
    height: var(--cdr-time-slot-height);
    display: flex;
    align-items: center;
}
.calendar-grid .time-slots-col .time-slot::after {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    z-index: 1;
    width: 12%;
    height: 1px;
    background-color: var(--border-clr);
}
.calendar-grid .time-slot span {
    z-index: 2;
    translate: 0 calc(-100% - 2px);
    background-color: var(--bs-white);
    color: var(--bs-secondary);
}
.calendar-grid .time-slots-col .time-slot-header {
    height: var(--cdr-header-height);
}
.calendar-grid .time-slots-col .time-slot:last-child {
    border-bottom: none;
}

.calendar-grid .day-col {
    border-left: 1px solid var(--border-clr);
}
.calendar-grid .day-col.today {
    color: var(--accent-color);
    background-color: var(--accent-color-sec);
    font-weight: 700;
}
.calendar-grid .day-col .day-header {
    height: var(--cdr-header-height);
    padding: .5em 0;
    border-bottom: 1px solid var(--border-clr);
}
.calendar-grid .day-col .day-hours-grid .hour {
    display: grid;
    place-items: center;
    border-bottom: 1px solid var(--border-clr);
    height: var(--cdr-time-slot-height);
    padding: .3em;
    cursor: pointer;
}
.calendar-grid .day-col .day-hours-grid .hour:last-child {
    border-bottom: none;
}
.calendar-grid .day-col .day-hours-grid .hour i.fa-plus {
    opacity: 0;
    transition: opacity 250ms;
}
.calendar-grid .day-col .day-hours-grid .hour:hover i.fa-plus {
    opacity: .5;
}

/* Schedule shift overlay */
.calendar-container .shifts-overlay {
    position: absolute;
    inset: 0;
    left: var(--cdr-time-col-width);
    top: var(--cdr-header-height);
    pointer-events: none;
    display: grid;
    grid-template-rows: repeat(18, var(--cdr-time-slot-height));
}
.calendar-container .shifts-overlay--day {
    grid-template-columns: repeat(12, 1fr);
}
.calendar-container .shifts-overlay--week {
    grid-template-columns: repeat(7, 1fr);
}
.shifts-overlay .shift-container {
    padding: .4em;
    pointer-events: auto;
}
.shifts-overlay .shift {
    height: 100%;
    border-radius: .5em;
    padding: .5em .8em;
    overflow-y: auto;
}
.shifts-overlay .shift::-webkit-scrollbar {
    width: 7px;
}
.shifts-overlay .shift::-webkit-scrollbar-thumb {
    background-color: var(--bs-secondary);
    border-radius: 5px;
}
.shifts-overlay .no-employee .shift,
.legenda .no-employee {
    border: 4px solid var(--bs-danger) !important;
}

.shifts-overlay .vers .shift,
.legenda .vers {
    background-color: var(--department-vers-color);
    border-left: 3px solid var(--department-vers-border);
}
.shifts-overlay .vakkenvullen .shift,
.legenda .vakkenvullen {
    background-color: var(--department-vakkenvullen-color);
    border-left: 3px solid var(--department-vakkenvullen-border);
}
.shifts-overlay .kassa .shift,
.legenda .kassa {
    background-color: var(--department-kassa-color);
    border-left: 3px solid var(--department-kassa-border);
}
.shifts-overlay .concept .shift,
.legenda .concept {
    position: relative;
    overflow: hidden;
    border-left-style: dashed !important;
}
.shifts-overlay .concept .shift::before,
.legenda .concept::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0.3) 10px,
            rgba(255, 255, 255, 0) 10px,
            rgba(255, 255, 255, 0) 20px
    );
    pointer-events: none;
    z-index: 1;
    border-radius: inherit;
}
.shifts-overlay .concept .shift * {
    position: relative;
    z-index: 2;
}

/* Schedule legend */
.legenda .legenda-item {
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}
.legenda .legenda-color {
    width: 1.5em;
    height: 1.5em;
    border-radius: .5em;
    margin-right: .5em;
}
.legenda .concept {
    background-color: var(--bs-primary);
    border-left: 3px solid var(--bs-dark);
}
.legenda .concept::before {
    background: repeating-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0.3) 5px,
            rgba(255, 255, 255, 0) 5px,
            rgba(255, 255, 255, 0) 10px
    );
}
