@model BumboApp.Models.User
@{
    ViewData["Title"] = "Verlof aanvragen";
}

<form asp-action="CreateLeaveRequest" asp-controller="Leave" method="post">
    <div class="card p-4 create-card"> 
        <div class="mb-3">
            <label for="startDate" class="form-label fw-bold">Begin Datum</label>
            <input type="date" class="form-control" id="startDate" name="StartDate" placeholder="Begindatum" onchange="checkDate()" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" required>
        </div>

        <div class="mb-2">
            <label for="endDate" class="form-label fw-bold">Eind Datum</label>
            <input type="date" class="form-control" id="endDate" name="EndDate" placeholder="Einddatum" onchange="checkDate()" min="@DateTime.Now.AddDays(1).ToString(" yyyy-MM-dd")" required>
        </div>

        <div class="mb-3">
            <label for="reason" class="form-label fw-bold">Reden</label>
            <textarea class="form-control" name="Reason" placeholder="Reden" maxlength="255" required></textarea>
        </div>
        
        <input type="hidden" name="Status" value="@Status.Aangevraagd" />

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a asp-controller="Leave" asp-action="Index" class="btn btn-outline-primary" type="button">Annuleer</a>
            <button class="btn btn-primary me-md-2" id="leaveCreateButton" type="submit">Aanvragen</button>
        </div>
    </div>
</form>
