@{
    ViewData["Title"] = "Speciale dag toevoegen";
}
<div class="table-container p-3">
    <form method="post" asp-action="Create" onchange="showButton()">
        <div class="row">
            <div class="col-12 col-lg">
                <label for="text">Naam</label>
                <input type="text" id="name" name="Name" class="form-control" min=" PageSize" required />
            </div>
            <div class="col-12 col-lg">
                <label for="customersExpected">Startdatum</label>
                <input type="Date" id="bDate" name="StartDate" class="form-control" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" required />
            </div>
            <div class="col-12 col-lg">
                <label for="cargoExpected">EindDatum</label>
                <input type="Date" id="eDate" name="EndDate" class="form-control" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" required />
            </div>
            <div class="col-12 col-lg">
                <label for="cargoExpected">Factor</label>
                <input type="number" id="factor" name="Factor" class="form-control" min="0" step="any" required />
            </div>
        </div>
        <div class="text-end mt-3">
            <a asp-action="Index" asp-controller="OpeningHours" class="btn btn-outline-primary me-2">
                Annuleren
            </a>
            <button type="submit" class="btn btn-primary" disabled>Toevoegen</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function showButton() {
        document.querySelector("button[type='submit']").removeAttribute("disabled");
    }
</script>